/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-color: #f4f4f4;
    height: 100%;
  }
  
  h1, h3 {
    margin: 0;
    padding: 10px;
  }
  
  p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  button {
    padding: 8px 16px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  /* Estilo para el header */
  header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  nav {
    margin-top: 10px;
  }
  
  nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 18px;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  /* Estilos para Filtro */
  .filtro-container {
    margin: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  label {
    font-weight: bold;
    margin-right: 10px;
  }
  
  select {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  /* Estilos para productos */
  .productos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: flex-start;
  }
  
  .producto-card {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: center;
    transition: transform 0.2s ease;
  }
  
  .producto-card:hover {
    transform: scale(1.05);
  }
  
  .producto-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .producto-card h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .producto-card p {
    color: #888;
    font-size: 14px;
  }
  

  .contenedor-centrado{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    border: 1px solid #ccc; 
    background-color: #f9f9f9;
  }

  .contenedor  {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
  }

  #parent {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
  }
  
  .container {
    max-width: 800px; /* Ajusta según el ancho deseado */
    width: 100%; /* Permite que se ajuste al ancho disponible */
    padding: 20px; /* Opcional: añade espacio interno */
  }
  